Repository alanlujan91/qe_template: changes, and which pre-commit hooks are due for each by the changed paths.
All: jtex-check, check-ascii, build-sample-pdf, validate-template-files, check-thumbnail

jtex-check:
  name: Check template.yml with jtex
  entry: bash -c 'npm list -g jtex &> /dev/null || npm install -g jtex; jtex check'
  language: system
  pass_filenames: false

check-ascii:
  name: Check for non-ASCII characters
  entry: python3 -c "import sys; content = open(sys.argv[1], 'rb').read(); non_ascii = [i for i, b in enumerate(content) if b > 127]; sys.exit(1 if non_ascii else 0)"
  language: system

build-sample-pdf:
  name: Build sample PDF
  entry: bash -c 'npm list -g mystmd &> /dev/null || npm install -g mystmd; cd sample && myst build qe_sample.md --pdf'
  language: system
  pass_filenames: false

validate-template-files:
  name: Validate all template files exist
  entry: python3
  language: system
  pass_filenames: false
  args:
  - -c
  ...

check-thumbnail:
  name: Verify thumbnail exists
  entry: bash -c 'test -f thumbnail.png || { echo "Missing thumbnail.png - generate from sample PDF"; exit 1; }'
  language: system
  pass_filenames: false

docs: record the generated-vs-original LaTeX diff, and two differences it found
  README.md
Due: check-ascii

docs: citation limitations are closable, and one of them was worse than listed
  README.md
  sample/exports/article_ecta.pdf
  sample/exports/article_qe.pdf
  sample/exports/article_te.pdf
  sample/exports/supplement_ecta.pdf
  sample/exports/supplement_qe.pdf
  sample/exports/supplement_te.pdf
Due: check-ascii, build-sample-pdf

docs: correct what "raw LaTeX" means, and two claims that were wrong
  README.md
  sample/exports/article_ecta.pdf
  sample/exports/article_qe.pdf
  sample/exports/article_te.pdf
  sample/exports/supplement_ecta.pdf
  sample/exports/supplement_qe.pdf
  sample/exports/supplement_te.pdf
Due: check-ascii, build-sample-pdf

feat: use prf:algorithm and prf:assumption directly, and support pseudocode
  README.md
  sample/article.md
  sample/exports/article_ecta.pdf
  sample/exports/article_qe.pdf
  sample/exports/article_te.pdf
  sample/exports/supplement_ecta.pdf
  sample/exports/supplement_qe.pdf
  sample/exports/supplement_te.pdf
  template.tex
  template.yml
Due: jtex-check, check-ascii, build-sample-pdf, validate-template-files, check-thumbnail

docs: correct the HTML column, which I documented without ever building HTML
  README.md
  sample/exports/article_ecta.pdf
  sample/exports/article_qe.pdf
  sample/exports/article_te.pdf
  sample/exports/supplement_ecta.pdf
  sample/exports/supplement_qe.pdf
  sample/exports/supplement_te.pdf
Due: check-ascii, build-sample-pdf

docs: stress-test findings, measured in both outputs
  README.md
  sample/exports/article_ecta.pdf
  sample/exports/article_qe.pdf
  sample/exports/article_te.pdf
  sample/exports/supplement_ecta.pdf
  sample/exports/supplement_qe.pdf
  sample/exports/supplement_te.pdf
Due: check-ascii, build-sample-pdf

fix: the documented template URL does not work
  README.md
  sample/exports/article_ecta.pdf
  sample/exports/article_qe.pdf
  sample/exports/article_te.pdf
  sample/exports/supplement_ecta.pdf
  sample/exports/supplement_qe.pdf
  sample/exports/supplement_te.pdf
Due: check-ascii, build-sample-pdf

remove parts.appendix; appendices go in the document body
  .github/CONTRIBUTING.md
  README.md
  myst.yml
  sample/appendix.md
  sample/article.md
  sample/exports/article_ecta.pdf
  sample/exports/article_qe.pdf
  sample/exports/article_te.pdf
  sample/exports/supplement_ecta.pdf
  sample/exports/supplement_qe.pdf
  sample/exports/supplement_te.pdf
  template.tex
  template.yml
Due: jtex-check, check-ascii, build-sample-pdf, validate-template-files, check-thumbnail

fix defects found by a five-agent audit of template, gates and docs
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  README.md
  sample/appendix.md
  sample/article.md
  sample/exports/article_ecta.pdf
  sample/exports/article_qe.pdf
  sample/exports/article_te.pdf
  sample/exports/supplement_ecta.pdf
  sample/exports/supplement_qe.pdf
  sample/exports/supplement_te.pdf
  sample/references.bib
  scripts/build-samples.sh
  scripts/selftest-sync-vendored.sh
  template.tex
  template.yml
Due: jtex-check, check-ascii, build-sample-pdf, validate-template-files, check-thumbnail

Path conditions:
  jtex-check: any of: ^(template\.(tex|yml)|econsocart\.(cls|cfg)|qe\.bst)$
  check-ascii: any of: ^(README\.md|sample/qe_sample\.md|template\.(tex|yml)|myst\.yml)$
  build-sample-pdf: any of: ^(sample/.*\.(md|bib|png|jpg|pdf)|template\.(tex|yml)|econsocart\.(cls|cfg)|qe\.bst)$
  validate-template-files: any of: ^template\.yml$
  check-thumbnail: any of: ^template\.(tex|yml)$
