Repository alanlujan91/qe_template: changes, and which pre-commit hooks are due for each by the changed paths.
All: jtex-check, check-ascii, build-sample-pdf, validate-template-files, check-thumbnail

jtex-check:
  name: Check template.yml with jtex
  entry: bash -c 'npm list -g jtex &> /dev/null || npm install -g jtex; jtex check'
  language: system
  pass_filenames: false

check-ascii:
  name: Check for non-ASCII characters
  entry: python3 -c "import sys; content = open(sys.argv[1], 'rb').read(); non_ascii = [i for i, b in enumerate(content) if b > 127]; sys.exit(1 if non_ascii else 0)"
  language: system

build-sample-pdf:
  name: Build sample PDF
  entry: bash -c 'npm list -g mystmd &> /dev/null || npm install -g mystmd; cd sample && myst build qe_sample.md --pdf'
  language: system
  pass_filenames: false

validate-template-files:
  name: Validate all template files exist
  entry: python3
  language: system
  pass_filenames: false
  args:
  - -c
  ...

check-thumbnail:
  name: Verify thumbnail exists
  entry: bash -c 'test -f thumbnail.png || { echo "Missing thumbnail.png - generate from sample PDF"; exit 1; }'
  language: system
  pass_filenames: false

Improve cross-referencing and equation handling in samples
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  README.md
  sample/appendix.md
  sample/qe_sample.md
  sample/qe_sample.pdf
  sample/qe_sample_pdf_tex/qe_sample.tex
  thumbnail.png
Due: check-ascii, build-sample-pdf

Fix minor formatting in README and update sample PDF
  README.md
  sample/qe_sample.pdf
Due: check-ascii, build-sample-pdf

Clarify MyST cross-reference rendering in README
  README.md
  sample/qe_sample.pdf
Due: check-ascii, build-sample-pdf

Clarify cross-reference usage in MyST and LaTeX
  README.md
  sample/qe_sample.md
  sample/qe_sample.pdf
  sample/qe_sample_pdf_tex/qe_sample.tex
Due: check-ascii, build-sample-pdf

Revise appendix handling and update documentation
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
  sample/appendix.md
  sample/qe_sample.md
  sample/qe_sample.pdf
  sample/qe_sample_pdf_tex/files/figure_sample-dc8c28e403da531eb439ea35cd9b1b14.pdf
  sample/qe_sample_pdf_tex/qe_sample.tex
  template.tex
Due: jtex-check, check-ascii, build-sample-pdf, check-thumbnail

Update MyST cross-referencing and citation guidance
  README.md
  sample/appendix.md
  sample/qe_sample.md
  sample/qe_sample.pdf
  sample/qe_sample_pdf_tex/qe_sample.tex
  template.tex
Due: jtex-check, check-ascii, build-sample-pdf, check-thumbnail

Update README.md
  README.md
Due: check-ascii

Update template validation hook and clarify README
  .pre-commit-config.yaml
  README.md
  sample/qe_sample.pdf
Due: check-ascii, build-sample-pdf

Update .gitignore, add pyproject.toml, and revise sample documents for improved structure and clarity
  .gitignore
  pyproject.toml
  sample/appendix.md
  sample/qe_sample.md
  sample/qe_sample.pdf
  sample/qe_sample_pdf_tex/files/figure_sample-7bd7fd6fc01a4353f19ac08bae424317.pdf
  sample/qe_sample_pdf_tex/qe_sample.tex
  template.tex
  uv.lock
Due: jtex-check, check-ascii, build-sample-pdf, check-thumbnail

Add supplementary material support and update template configuration
  myst.yml
  sample/qe_sample.pdf
  sample/qe_supp_sample.md
  sample/qe_supp_sample.pdf
  sample/qe_supp_sample_pdf_tex/econsocart.cfg
  sample/qe_supp_sample_pdf_tex/econsocart.cls
  sample/qe_supp_sample_pdf_tex/files/figure_sample-7bd7fd6fc01a4353f19ac08bae424317.pdf
  sample/qe_supp_sample_pdf_tex/main.bib
  sample/qe_supp_sample_pdf_tex/qe.bst
  sample/qe_supp_sample_pdf_tex/qe_supp_sample.tex
  template.tex
  template.yml
Due: jtex-check, check-ascii, build-sample-pdf, validate-template-files, check-thumbnail

Update README and configuration for appendix support; add sample appendix file
  README.md
  myst.yml
  sample/qe_appendix.md
  sample/qe_sample.md
  sample/qe_sample.pdf
Due: check-ascii, build-sample-pdf

chore: pin mystmd to 1.10.1
  pyproject.toml
  uv.lock
Due: none

feat: load MyST-recognized LaTeX packages and add extra_packages option
  template.tex
  template.yml
Due: jtex-check, check-ascii, build-sample-pdf, validate-template-files, check-thumbnail

docs(sample): restructure appendix with explicit cross-reference links
  sample/qe_appendix.md
Due: build-sample-pdf

ci: render templates without a TeX toolchain; add drift guard
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
Due: none

docs: add MyST limitations/fidelity reference and package guidance
  .github/CONTRIBUTING.md
  README.md
Due: check-ascii

chore: regenerate sample LaTeX exports and PDFs
  sample/qe_sample.pdf
  sample/qe_sample_pdf_tex/qe_sample.tex
  sample/qe_supp_sample.pdf
  sample/qe_supp_sample_pdf_tex/qe_supp_sample.tex
Due: build-sample-pdf

fix: read joined multi-article exports with \input, not \include
  template.tex
Due: jtex-check, check-ascii, build-sample-pdf, check-thumbnail

feat: add journal selection with a neutral preprint default
  README.md
  sample/qe_sample.md
  sample/qe_sample.pdf
  sample/qe_sample_pdf_tex/qe_sample.tex
  sample/qe_supp_sample.md
  sample/qe_supp_sample.pdf
  sample/qe_supp_sample_pdf_tex/qe_supp_sample.tex
  template.tex
  template.yml
Due: jtex-check, check-ascii, build-sample-pdf, validate-template-files, check-thumbnail

fix: keep preprint draft line numbers in the margin
  template.tex
Due: jtex-check, check-ascii, build-sample-pdf, check-thumbnail

docs: correct README (fonts, packages grouping, linenumbers, features)
  README.md
Due: check-ascii

Rename axiom and observation environments to Assumption and Algorithm
  template.tex
Due: jtex-check, check-ascii, build-sample-pdf, check-thumbnail

chore: track all three Econometric Society templates as submodules
  .gitmodules
  econsoc.bst
  econsocart.cfg
  econsocart.cls
  scripts/sync-vendored.sh
  te.bst
Due: jtex-check, build-sample-pdf

fix: select the bibliography style to match the target journal
  sample/qe_sample.pdf
  sample/qe_sample_pdf_tex/econsoc.bst
  sample/qe_sample_pdf_tex/qe_sample.tex
  sample/qe_sample_pdf_tex/te.bst
  sample/qe_supp_sample.pdf
  sample/qe_supp_sample_pdf_tex/econsoc.bst
  sample/qe_supp_sample_pdf_tex/qe_supp_sample.tex
  sample/qe_supp_sample_pdf_tex/te.bst
  template.tex
  template.yml
Due: jtex-check, check-ascii, build-sample-pdf, validate-template-files, check-thumbnail

ci: verify every journal and poll all three upstreams
  .github/workflows/ci.yml
  .github/workflows/sync-upstream-template.yml
  .pre-commit-config.yaml
Due: none

fix: bump configure-pages off its retired runner
  .github/workflows/deploy.yml
Due: none

docs: state the unofficial status and split the licensing
  .github/CONTRIBUTING.md
  README.md
Due: check-ascii

fix: stop the whitespace hooks fighting generated exports
  .pre-commit-config.yaml
  sample/qe_sample.md
Due: check-ascii, build-sample-pdf

fix: record the exec bit on sync-vendored.sh
  scripts/sync-vendored.sh
Due: none

fix: cover the sample export copies in the drift guard
  .github/workflows/sync-upstream-template.yml
  sample/qe_sample.pdf
  sample/qe_sample_pdf_tex/econsocart.cfg
  sample/qe_sample_pdf_tex/econsocart.cls
  sample/qe_supp_sample.pdf
  sample/qe_supp_sample_pdf_tex/econsocart.cfg
  sample/qe_supp_sample_pdf_tex/econsocart.cls
  scripts/sync-vendored.sh
Due: build-sample-pdf

fix: close the review findings on the vendoring script
  .github/workflows/ci.yml
  scripts/sync-vendored.sh
  template.tex
Due: jtex-check, check-ascii, build-sample-pdf, check-thumbnail

feat: build the sample for all three journals from one source
  .github/CONTRIBUTING.md
  .gitignore
  .pre-commit-config.yaml
  README.md
  myst.yml
  sample/appendix.md
  sample/article.md
  sample/exports/article_ecta.pdf
  sample/exports/article_qe.pdf
  sample/exports/article_te.pdf
  sample/exports/supplement_ecta.pdf
  sample/exports/supplement_qe.pdf
  sample/exports/supplement_te.pdf
  sample/qe_sample.pdf
  sample/qe_sample_pdf_tex/econsoc.bst
  sample/qe_sample_pdf_tex/econsocart.cfg
  sample/qe_sample_pdf_tex/econsocart.cls
  sample/qe_sample_pdf_tex/files/figure_sample-4e789d5eeccd77f9da82b50bc4303a9e.pdf
  sample/qe_sample_pdf_tex/files/figure_sample-7bd7fd6fc01a4353f19ac08bae424317.pdf
  sample/qe_sample_pdf_tex/files/figure_sample-dc8c28e403da531eb439ea35cd9b1b14.pdf
  sample/qe_sample_pdf_tex/main.bib
  sample/qe_sample_pdf_tex/qe.bst
  sample/qe_sample_pdf_tex/qe_sample.tex
  sample/qe_sample_pdf_tex/te.bst
  sample/qe_supp_sample.pdf
  sample/qe_supp_sample_pdf_tex/econsoc.bst
  sample/qe_supp_sample_pdf_tex/econsocart.cfg
  sample/qe_supp_sample_pdf_tex/econsocart.cls
  sample/qe_supp_sample_pdf_tex/files/figure_sample-7bd7fd6fc01a4353f19ac08bae424317.pdf
  sample/qe_supp_sample_pdf_tex/main.bib
  sample/qe_supp_sample_pdf_tex/qe.bst
  sample/qe_supp_sample_pdf_tex/qe_supp_sample.tex
  sample/qe_supp_sample_pdf_tex/te.bst
  sample/references.bib
  sample/supplement.md
  scripts/sync-vendored.sh
Due: check-ascii, build-sample-pdf

fix: make the sample build a real gate, and repair CI after the rename
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  sample/exports/article_ecta.pdf
  sample/exports/article_qe.pdf
  sample/exports/article_te.pdf
  sample/exports/supplement_ecta.pdf
  sample/exports/supplement_qe.pdf
  sample/exports/supplement_te.pdf
  scripts/build-samples.sh
  scripts/sync-vendored.sh
Due: build-sample-pdf

fix: make the build gate check this build's output, and the right style
  sample/exports/article_ecta.pdf
  sample/exports/article_qe.pdf
  sample/exports/article_te.pdf
  sample/exports/supplement_ecta.pdf
  sample/exports/supplement_qe.pdf
  sample/exports/supplement_te.pdf
  scripts/build-samples.sh
  scripts/lib-econsoc.sh
  scripts/sync-vendored.sh
Due: build-sample-pdf

docs: distinguish the submission stage, and self-test the drift guard
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  README.md
  scripts/selftest-sync-vendored.sh
  scripts/sync-vendored.sh
  template.yml
Due: jtex-check, check-ascii, build-sample-pdf, validate-template-files, check-thumbnail

feat: make preprint a switch on top of the journal, not a journal
  .github/workflows/ci.yml
  README.md
  sample/article.md
  sample/exports/article_ecta.pdf
  sample/exports/article_qe.pdf
  sample/exports/article_te.pdf
  sample/exports/supplement_ecta.pdf
  sample/exports/supplement_qe.pdf
  sample/exports/supplement_te.pdf
  sample/supplement.md
  template.tex
  template.yml
Due: jtex-check, check-ascii, build-sample-pdf, validate-template-files, check-thumbnail

docs: record Econometrica's house style, and stop emitting an empty JEL block
  README.md
  sample/exports/article_ecta.pdf
  sample/exports/article_qe.pdf
  sample/exports/article_te.pdf
  sample/exports/supplement_ecta.pdf
  sample/exports/supplement_qe.pdf
  sample/exports/supplement_te.pdf
  template.tex
Due: jtex-check, check-ascii, build-sample-pdf, check-thumbnail

fix: numbered cross-references were a config error, not a MyST limitation
  README.md
  sample/appendix.md
  sample/article.md
  sample/exports/article_ecta.pdf
  sample/exports/article_qe.pdf
  sample/exports/article_te.pdf
  sample/exports/supplement_ecta.pdf
  sample/exports/supplement_qe.pdf
  sample/exports/supplement_te.pdf
  sample/supplement.md
Due: check-ascii, build-sample-pdf

fix: the documented appendix cross-reference workaround did not work
  README.md
  sample/appendix.md
  sample/exports/article_ecta.pdf
  sample/exports/article_qe.pdf
  sample/exports/article_te.pdf
  sample/exports/supplement_ecta.pdf
  sample/exports/supplement_qe.pdf
  sample/exports/supplement_te.pdf
Due: check-ascii, build-sample-pdf

docs: numbering scope, measured properly, and a gate so it cannot regress
  README.md
  sample/exports/article_ecta.pdf
  sample/exports/article_qe.pdf
  sample/exports/article_te.pdf
  sample/exports/supplement_ecta.pdf
  sample/exports/supplement_qe.pdf
  sample/exports/supplement_te.pdf
  scripts/build-samples.sh
Due: check-ascii, build-sample-pdf

Path conditions:
  jtex-check: any of: ^(template\.(tex|yml)|econsocart\.(cls|cfg)|qe\.bst)$
  check-ascii: any of: ^(README\.md|sample/qe_sample\.md|template\.(tex|yml)|myst\.yml)$
  build-sample-pdf: any of: ^(sample/.*\.(md|bib|png|jpg|pdf)|template\.(tex|yml)|econsocart\.(cls|cfg)|qe\.bst)$
  validate-template-files: any of: ^template\.yml$
  check-thumbnail: any of: ^template\.(tex|yml)$
